# § Chapter 2 Python Language Basics, IPython, and Jupyter Notebooks

## § 2.3 Python Language Basics
-	Indentation, not braces
-	Function and object method calls
-	Variables and argument passing
-	Attributes and methods
-	Duck typing
-	Imports
-	Mutable and immutable objects
-	Dates and times
-	Bytes and Unicode
-	if, elif, and else
-	for loops
-	while loops
-	range
-	Ternary expressions

### Language Semantics

#### Indentation, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

In [ ]:
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

```python
a = 5; b = 6; c = 7
```

#### Everything is an object

#### Comments

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

#### Function and object method calls

```
result = f(x, y, z)
```

```
obj.some_method(x, y, z)
```

```python
result = f(a, b, c, d=5, e='foo')
```

#### Variables and argument passing

In [42]:
a = [1, 2, 3]

In [43]:
b = a

In [44]:
b == a

True

In [45]:
b is a

True

In [46]:
a.append(4)
a

[1, 2, 3, 4]

In [47]:
b

[1, 2, 3, 4]

```python
def append_element(some_list, element):
    some_list.append(element)
```

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### Dynamic references, strong types

In [49]:
a = 5
type(a)

int

In [50]:
a = 'foo'
type(a)

str

In [51]:
# epexted error
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [52]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [53]:
a = 5
isinstance(a, int)

True

In [54]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

#### Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [31]:
a = 'foo'

In [32]:
# <Tab>
a.

SyntaxError: invalid syntax (3905452595.py, line 1)

In [56]:
getattr(a, 'split')

#### Duck typing

我們想知道某個物件是否有實作某一個 protocol

In [57]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [58]:
isiterable('a string')

True

In [59]:
isiterable([1, 2, 3])

True

In [60]:
isiterable(5)

False

In [62]:
a?

In [ ]:
a.

In [61]:
dir('a')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [63]:
b = list('a book')
b

['a', ' ', 'b', 'o', 'o', 'k']

In [64]:
c = list((a, 2, 3, ))
c

['foo', 2, 3]

In [65]:
d = list(c)
d

['foo', 2, 3]

In [66]:
d == c

True

In [67]:
d is not c

True

In [68]:
c

['foo', 2, 3]

In [69]:
d

['foo', 2, 3]

In [71]:
c is d

False

In [72]:
a = None

In [73]:
a == None

True

In [74]:
a is None

True

```python
if not isinstance(x, list) and isiterable(x):
    x = list(x)
```

#### Imports

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

```python
import some_module
result = some_module.f(5)
pi = some_module.PI
```

In [34]:
import some_module

In [35]:
%who

a	 add_numbers	 an_apple	 an_example	 b	 c	 data	 datetime	 f
np	 result	 some_module

In [78]:
some_module?

In [ ]:
some_module.

In [79]:
result = some_module.f(5)

In [80]:
result

7

In [82]:
pi = some_module.PI
pi

3.14159

```python
from some_module import f, g, PI
result = g(5, PI)
```

```python
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)
```

In [83]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

In [84]:
r1

5.14159

In [85]:
r2 = gf(6, pi)

#### Binary operators and comparisons

In [86]:
5 - 7
12 + 21.5
5 <= 2

False

In [87]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [88]:
a == c

True

In [89]:
a = None
a is None

True

#### Mutable and immutable objects

In [91]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [93]:
# expected error
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [95]:
ival = 17239871
ival ** 61

2682716135235626974847359405455464046439411813133578560479112400701793956274215839026423571806651262508120823875110230187357530131640216002312101353161571729420651789195467818436437851758086447167889738150827838295742237150050489224754824460490997448193164574186732719073267158916669858319686142387427268956343005787083235898826745218404434625038686657453959956710212366923851292232741308692202354596387849628946205948231368363168987087979071

In [96]:
fval = 7.243
fval2 = 6.78e-5

In [97]:
3 / 2

1.5

In [98]:
3 // 2

1

#### Strings

In [99]:
a = 'one way of writing a string'
b = "another way"

In [100]:
c = """
This is a longer string that
spans multiple lines
"""

In [101]:
c.count('\n')

3

In [103]:
# expected error
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [104]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [105]:
a

'this is a string'

In [106]:
a = 5.6
s = str(a)
print(s)

5.6

In [107]:
type(s)

str

In [108]:
s = 'python'
list(s)
s[:3]

'pyt'

In [110]:
s = '12\\34'
print(s)

12\34

In [111]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [112]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [113]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [114]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

#### f-strings (---new content in 3rd version---)

In [36]:
amount = 10

rate = 88.46

currency = "Pesos"

result = f"{amount} {currency} is worth US${amount / rate}"

In [37]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

#### Bytes and Unicode

In [38]:
val = "español"
val

'español'

In [39]:
type(val)

str

In [40]:
bytes_val = b'this is bytes'

In [44]:
# expected error
bytes_val = b'this is 中'

SyntaxError: bytes can only contain ASCII literal characters (335229068.py, line 2)

In [45]:
bytes_val = u'this is 中'

In [46]:
bytes_val

'this is 中'

In [47]:
bytes_val.encode('utf-8')

b'this is \xe4\xb8\xad'

In [48]:
bytes_val

'this is 中'

In [49]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [50]:
type(val_utf8)

bytes

In [51]:
val_utf8.decode('utf-8')

'español'

In [52]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [53]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

'this is bytes'

In [54]:
len(decoded)

13

In [55]:
len(bytes_val)

13

In [58]:
string = 'this is bytes'
srting_utf8= string.encode('utf-8')
srting_utf8

b'this is bytes'

In [59]:
srting_utf8.decode('utf-8')

'this is bytes'

In [60]:
len(srting_utf8)

13

In [61]:
len(srting_utf8)

13

In [62]:
len(string)

13

In [63]:
ustring = u'A unicode \u018e string \xf1'
ustring

'A unicode Ǝ string ñ'

In [161]:
print('\u018e')

Ǝ

In [162]:
ustring[10]

'Ǝ'

In [163]:
type(ustring)

str

In [164]:
print(ustring)

A unicode Ǝ string ñ

In [165]:
ustring.encode('utf-8')

b'A unicode \xc6\x8e string \xc3\xb1'

In [166]:
b = ustring.encode('utf-8')

In [167]:
print(b)

b'A unicode \xc6\x8e string \xc3\xb1'

In [168]:
len(b)

22

In [169]:
b[20]

195

In [170]:
len(ustring)

20

In [171]:
c = b.decode()

In [172]:
c

'A unicode Ǝ string ñ'

In [173]:
ustring == c

True

In [174]:
type(c)

str

In [175]:
d = 'A unicode Ǝ string ñ'

In [176]:
d

'A unicode Ǝ string ñ'

In [177]:
type(d)

str

#### Booleans

In [178]:
True and True
False or True

True

#### Type casting

In [179]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

#### None

In [180]:
a = None
a is None
b = 5
b is not None

True

def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [181]:
type(None)

NoneType

#### Dates and times

In [64]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [65]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [66]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [67]:
dt.strftime('%U')

'43'

In [68]:
today = datetime.today()

In [69]:
type(today.strftime('%U'))

str

In [70]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [71]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [72]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [73]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

#### if, elif, and else

```python
if x < 0:
    print('It's negative')
```

```python
if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')
```

In [74]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [75]:
4 > 3 > 2 > 1

True

#### for loops

```python
for value in collection:
    # do something with value
```

```python
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
```

```python
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
```

In [76]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

```python
for a, b, c in iterator:
    # do something
```

#### while loops

```python
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
```

#### pass

```python
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')
```

#### range

In [77]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

```python
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
```

```python
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i
```

#### Ternary expressions

In [79]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'